$bgDark: #282c34; 
$bgLight:#CDCDCD;

.App-main {
    background-color: $bgDark;
    color: $bgLight;
    display: flex;
    padding: 1em;
    height: 100vh;
  
   
       
    .profile{ 
		margin:auto;
		padding: 0.5em;
		img {
			width: 37vw;
			border-radius: 50%;
	  	}
    }
    
    .intro{
		margin: auto;
		max-width: 52vw;
		padding: 1em;
		border-style: solid;
		border-color: $bgLight;
		border-radius: 1em;
    } 
    //font-size: calc(10px + 1vmin);
    color: $bgLight;
}

@media screen and (max-width: 759px) {
	.App-main{
		flex-direction: column;
		align-items: center;
		
		.profile{
			margin: 0;
			margin-top: 10vh;
			img{
				max-width: 475px;
				width: 90%;
			}

		}
		.intro{
			margin:0;
			margin-top: 10px;
			max-width: 90%;
		}
		img {
			width: 55vw;
		}
	}
}
  