$bgDark: #282c34; 
$bgLight:#CDCDCD;

.App-main {
    background-color: $bgDark;
    color: $bgLight;
    display: flex;
    padding: 1em;
    height: 100vh;
  
    img {
      	width: 35vw;
      	border-radius: 50%;
    }
       
    .profile{ 
		margin:auto;
		padding: 0.5em;
    }
    
    .intro{
		margin: auto;
		max-width: 52vw;
		padding: 1em;
		border-style: solid;
		border-color: $bgLight;
		border-radius: 1em;
    } 
    font-size: calc(10px + 1vmin);
    color: $bgLight;
}

@media screen and (max-width: 500px) {
	.App-main{
		flex-direction: column;
		.profile{
			margin-bottom: 0;
		}
		.intro{
			margin-top: 10px;
		}
		img {
			width: 55vw;
		}
	}
}
  