
$bgDark: #282c34; 
$bgLight: white;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-main {
  background-color: $bgDark;
  height: 90vh;
  width: 100vw;
  margin: 0 auto;
  text-align:center;
  display: flex;
  
  .profile{ 
    margin:auto;
    height: 60vh;
    width: 45vw;
    padding-top:30px;
    padding-bottom:30px;
  }
  
  .intro{
    margin: auto;
    width: 45vw;
  }

  .introText{
    float: left;
  }

  img {
    height: 60vh;
    border-radius: 50%;
  }
  font-size: calc(10px + 1vmin);
  color: $bgLight;

}

.App-link {
  color: #09d3ac;
}
