
$bgDark: #282c34; 
$bgLight:#CDCDCD;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-main {
  background-color: $bgDark;
  display: flex;
  padding: 2em;
 
  @media (max-width: 500px) {
    flex-direction: column;
  }
  
  .profile{ 
    margin:auto;
    width: 50vw;
    padding: 0.5em;
    padding-top: 1em;
  }
  
  .intro{
    margin: auto;
    padding: 1em;
    border-style: solid;
    border-color: $bgLight;
    border-radius: 1em;
  }

  img {
    width: 75%;
    border-radius: 50%;
  }
  font-size: calc(10px + 1vmin);
  color: $bgLight;

}

.App-link {
  color: #09d3ac;
}
