$bgDark: #282c34; 
$bgLight:#CDCDCD;

.App-Photography{
    width: 100%;
    background-color: $bgLight;
    
    .Photography-Header{
        h1{
            margin: 0;
            padding-top: 35px;
            padding-bottom: 10px;
        }
        p{
            margin: auto;
            font-size: 1.25em;
            text-align: left;
            padding-bottom: 20px;
            width: 65vw;
        }
        padding-bottom: 0.5em;
    }
    .Photography-photos{
        
        width: 90%;
        margin: auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, 49%);
        grid-column-gap: 0.4em;
        grid-row-gap: 0.4em;

        justify-content: center;
        
        .Photo-Box{
            img{
                border-radius: 1px;
                width: 100%;
                height: 100%
            }
        }
    }
    padding-bottom: 25px;
}

@media screen and (max-width: 1000px){
    .App-Photography{
        .Photography-Header{
            p{
                width: 85vw;
            }
        }
        .Photography-photos{
            grid-template-columns: repeat(auto-fit, 95vw);
        }
    }
}